.message {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
  }
  .sendBtn {
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    outline: none;
    color: #eae3d2;
    cursor: pointer;
  }
  .sendBtn:hover {
    background-color: rgb(129, 201, 129);
  }
  
  .chat__footer {
    padding: 10px;
    background-color: #f9f5eb;
    height: 10vh;
  }

  /*----------------------dark theme----------------------------*/

  .message__dark {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
  }
  .sendBtn__dark {
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    outline: none;
    color: #eae3d2;
    cursor: pointer;
  }
  .sendBtn:hover__dark {
    background-color: rgb(129, 201, 129);
  }
  
  .chat__footer__dark {
    padding: 10px;
    background-color: #4c3c3c;
    height: 10vh;
  }


