.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}

.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

/*-----------------dark theme below----------------------------*/

.chat__header__dark {
  margin: 30px 0 20px 0;
}
.chat__users__dark > * {
  margin-bottom: 10px;
  color: #121212;
  font-size: 14px;
}

.chat__sidebar__dark {
  height: 100%;
  background-color: #1d160551;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}


